<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Trip</h1>

    <%= render 'form' %>

    <%= link_to 'All Trips', trips_path %>
