<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 50px 50px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 30px;
  text-align: center;
  border-radius: 30px;
}
</style>
</head>
<body><h1>Here are all your upcoming trips</h1>

<div class="grid-container">
  <% @trips.each do |trip| %>
  <div class ="grid-item"><%= trip.destination %><br /><%= link_to 'Details', trip_path(trip) %></div>
  <% end %>
  </div>
