<p>
  <strong>Destination:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @trip.end_date %>
</p>

<p>
  <strong>Budget:</strong>
  $<%= @trip.budget %>
</p>
