<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trip Planner</title>
  </head>
  <body>
    <h1>Trip Planner</h1>
    <a href="<%= new_trip_path %>">New Trip</a><br />
    <a href="<%= trips_path %>">View Trips</a>
  </body>
</html>
